---
layout : default
---

<header class="page-header">
    <h1>{{page.title}}</h1>
    <dl class="dl-horizontal">
        {% assign update_date = page.date | date: "%B %-d %Y" %}
        {% assign upload_date = page.upload_date | date: "%B %-d %Y" %}
        <dt>Upload: <span class="post-meta">{{ upload_date | date: "%B %-d %Y" }}</span></dt>
        {% if update_date != upload_date %}
        <dt>Update: <span class="post-meta">{{ update_date | date: "%B %-d %Y" }}</span></dt>
        {% endif %}
    </dl>
</header>

<div class="row">
    {{ content }}
</div>